<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./assets/styles/main.css" />
    <title>Home Page</title>
</head>

<body>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
        <li>
            <a href="/text">Text Data</a>
        </li>
        <li>
            <a href="/students">Students</a>
        </li>
        <li>
            <a href="/students/api">API</a>
        </li>
    </ul>
    <h1>Students</h1>
    <% students.forEach(function(student){ %>
    <h2>
        <%= student.firstName %>
        <%= student.lastName %>
    </h2>
    <p>
        <%= student.age %>
    </p>
    <p>
        <%= student.country %>
    </p>
    <p>
        <%= student.skills.join(', ') %>
    </p>

    <% }) %>




</body>

</html>