<%- include('../partials/head') %>

<body>
    <%- include('../partials/navbar') %>
    <main>
        <h3 class="page-title">Students list</h3>
        <p>There are <%= students.length %> student in the list.</p>
        <div class="students">
            <% students.map(function(student){ %>
            <div class="student">
                <a href="/students/<%= student._id %>">
                    <h2>
                        <%= student.firstName %>
                        <%= student.lastName %>
                    </h2>
                    <p>
                        <%= student.age %>
                    </p>
                    <p>
                        <%= student.country %>
                    </p>
                    <p>
                        <%= student.skills.join(', ') %>
                    </p>
                </a>
            </div>
            <hr />
            <% }) %>
        </div>
    </main>
</body>

</html>